<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <!-- Logo/Brand -->
        <a class="navbar-brand" href="/">
            <img src="images/logo.png" alt="logo" height="80" width="80">
            <strong>Petal Poetry</strong>
        </a>
        
        <!-- Hamburger menu button for mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Navigation links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {{#if state.home}}active{{/if}}" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if state.shop}}active{{/if}}" href="/shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if state.about}}active{{/if}}" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if state.contact}}active{{/if}}" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if state.login}}active{{/if}}" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if state.checkout}}active{{/if}}" href="/checkout">
                        🛒 Cart (<span id="cart-count">0</span>)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
