<h1>User Details</h1>
    <div>    
   
            <form name="userdetails" id="udetails" action="" method="get">
             
           
                    <div class="form-group">
                        <label for="getFirstName">First name</label>
                        <input type="text" class="form-control" id="firstNameID" name="firstname" required>
                    </div>
                    <div class="form-group">
                        <label for="getLastName">Last name</label> 
                        <input type="text" class="form-control" id="lastNameID" name="lastname" required>
                    </div>    
                    <div class="form-group">
                        <label for="getDOB">Date of Birth</label> 
                        <input type="date" class="form-control" id="dobID" name="dob" required>
                    </div>  
                 
                
        
    
                        <label for="address1ID">Address 1</label> 
                        <input type="text" class="form-control" id="address1ID" name="address1" required>
          
    
                        <label for="address2ID">Address 2</label> 
                        <input type="text" class="form-control" id="address2ID" name="address2" required>
                 
            
                        <label for="address3ID">Address 3</label> 
                        <input type="text" class="form-control" id="address3ID" name="address3" required>
                
              
         
                    <input type='submit' value="Update My Details">
    
            </form>


   
    </div>

<script src="/main.js"></script>
<script>
    // userdetails.js

if (localStorage.getItem('userdetails') === null) {  
    // if userdetails is null, that means it has not been loaded before. we not initialise userdetails object
    var userDetails = {firstName:"Walter", lastName:"Mitty", dob:"1990-12-01",address1:"Buenos Ayres Drive", address2:"Strandhill", address3:"Co. Sligo"};
    // now we store the userdetails object as a localstorage object but localstore only stores text and userdetails is a javascript object
    // we convert a javascript object ot a string using JSON.stringify - we are being expedient!
    document.getElementById("firstNameID").setAttribute('value',userDetails.firstName);
    document.getElementById("lastNameID").setAttribute('value',userDetails.lastName);
      localStorage.setItem('userdetails',JSON.stringify(userDetails));
  document.getElementById("dobID").setAttribute('value',userDetails.dob);
    document.getElementById("address1ID").setAttribute('value',userDetails.address1);       
    document.getElementById("address2ID").setAttribute('value',userDetails.address2);
    document.getElementById("address3ID").setAttribute('value',userDetails.address3);
} else {
    // if localstorage variable userdetails is already created - load it to javascript oject. 
    // JSON.parse turns it back into an javascript object
    userDetails=JSON.parse(localStorage.getItem('userdetails'));
    document.getElementById("firstNameID").setAttribute('value',userDetails.firstName);
    document.getElementById("lastNameID").setAttribute('value',userDetails.lastName);
    document.getElementById("dobID").setAttribute('value',userDetails.dob);
    document.getElementById("address1ID").setAttribute('value',userDetails.address1);      
    document.getElementById("address2ID").setAttribute('value',userDetails.address2);
    document.getElementById("address3ID").setAttribute('value',userDetails.address3);
}



document.getElementById('udetails').addEventListener('submit', (event) => {

    // if the user updates the user details - we update the userDetails javascript object
    var userDetails={};
    userDetails.firstName=document.getElementById('firstNameID').value;
    userDetails.lastName=document.getElementById('lastNameID').value;
    userDetails.dob=document.getElementById('dobID').value;
    userDetails.address1=document.getElementById('address1ID').value;   
    userDetails.address2=document.getElementById('address2ID').value;
    userDetails.address3=document.getElementById('address3ID').value; 
  
    // finally we convert the javascript object to a string with JSON.stringify and save it to localstorage
    localStorage.setItem('userdetails',JSON.stringify(userDetails));

    event.preventDefault();


})

</script>